{% extends "templates/base.html" %}
{% set title="design" %}

{% block content %}
    <h1 class="title">headers:</h1>
    <h1>h1: Marcos Minond</h1>
    <h2>h2: Marcos Minond</h2>
    <h3>h3: Marcos Minond</h3>
    <h4>h4: Marcos Minond</h4>
    <h5>h5: Marcos Minond</h5>
    <h6>h6: Marcos Minond</h6>

    <h1 class="title">linked headers:</h1>
    <h1><a href="#">h1: Marcos Minond</a></h1>
    <h2><a href="#">h2: Marcos Minond</a></h2>
    <h3><a href="#">h3: Marcos Minond</a></h3>
    <h4><a href="#">h4: Marcos Minond</a></h4>
    <h5><a href="#">h5: Marcos Minond</a></h5>
    <h6><a href="#">h6: Marcos Minond</a></h6>

    <h1 class="title">text:</h1>
    <p class="aside">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien ligula, iaculis in consequat in, accumsan sed odio. Suspendisse condimentum orci quis nunc dignissim pharetra. Curabitur ipsum leo, fringilla ut mollis fringilla, faucibus at libero. Suspendisse quis quam vitae mi tempor vestibulum non non urna.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien ligula, iaculis in consequat in, accumsan sed odio. Suspendisse condimentum orci quis nunc dignissim pharetra. Curabitur ipsum leo, fringilla ut mollis fringilla, faucibus at libero. Suspendisse quis quam vitae mi tempor vestibulum non non urna. Vivamus sed nibh vestibulum, consectetur massa vitae, viverra quam. Suspendisse ac nibh ut nisl porta dapibus. Praesent at interdum ligula. Integer vel lectus tellus.</p>
    <p>Etiam dapibus dolor mi, vel pretium sem pulvinar sed. Ut ornare augue non eros lacinia lacinia. In porttitor tortor magna, ac consectetur dui euismod ut. Pellentesque volutpat mi vehicula, ultrices tellus in, pellentesque ipsum. Maecenas bibendum, libero ut euismod tristique, nisl magna varius nulla, vitae vulputate mi felis vitae dui. Nam congue, nunc sit amet commodo fermentum, mauris orci vehicula sem, lobortis volutpat eros lorem at erat. Vivamus id odio ante. Integer vitae nisl ut ipsum pulvinar molestie. Donec volutpat est ipsum, vitae consequat neque cursus auctor.</p>
    <p>Fusce porttitor <a href="#">egestas</a> gravida. Suspendisse molestie orci felis, et fringilla libero adipiscing a. Phasellus consectetur orci neque, eget fringilla magna congue non. Pellentesque sollicitudin varius pretium. Sed rutrum venenatis tempus. Maecenas sodales tellus in laoreet molestie. Nulla tempus velit vitae leo sodales fermentum.</p>

    <h1 class="title">images:</h1>
    <h3>.half:</h3>
    <img class="half" src="public/images/starrynight.jpg" />
    <img class="half" src="public/images/starrynight.jpg" />
    <p><b>The Starry Night</b> is a painting by the <a href="#">Dutch</a> <a href="#">post-impressionist</a> artist <a href="#">Vincent van Gogh</a>. Painted in June 1889, it depicts the view outside of his <a href="#">sanatorium</a> room window at <a href="#">Saint-Rémy-de-Provence</a> (located in southern France) at night, although it was painted from memory during the day. It has been in the permanent collection of the <a href="#">Museum of Modern Art</a> in New York City, part of the <a href="#">Lillie P. Bliss Bequest</a>, since 1941. The painting is among Van Gogh's best-known works and marks a decisive turn towards greater imaginative freedom in his art.</p>
    <h3>.align:</h3>
    <img class="align" src="public/images/starrynight.jpg" />
    <p><b>The Starry Night</b> is a painting by the <a href="#">Dutch</a> <a href="#">post-impressionist</a> artist <a href="#">Vincent van Gogh</a>. Painted in June 1889, it depicts the view outside of his <a href="#">sanatorium</a> room window at <a href="#">Saint-Rémy-de-Provence</a> (located in southern France) at night, although it was painted from memory during the day. It has been in the permanent collection of the <a href="#">Museum of Modern Art</a> in New York City, part of the <a href="#">Lillie P. Bliss Bequest</a>, since 1941. The painting is among Van Gogh's best-known works and marks a decisive turn towards greater imaginative freedom in his art.</p>
    <h3>.fit:</h3>
    <img class="fit" src="public/images/starrynight.jpg" />
    <p><b>The Starry Night</b> is a painting by the <a href="#">Dutch</a> <a href="#">post-impressionist</a> artist <a href="#">Vincent van Gogh</a>. Painted in June 1889, it depicts the view outside of his <a href="#">sanatorium</a> room window at <a href="#">Saint-Rémy-de-Provence</a> (located in southern France) at night, although it was painted from memory during the day. It has been in the permanent collection of the <a href="#">Museum of Modern Art</a> in New York City, part of the <a href="#">Lillie P. Bliss Bequest</a>, since 1941. The painting is among Van Gogh's best-known works and marks a decisive turn towards greater imaginative freedom in his art.</p>
{% endblock %}
