{% extends "templates/base.html" %}

{% block content %}
{% raw %}
    <div ng-app="me">
        <div ng-controller="HomeController">
            <section ng-repeat="day in days">
                <h1 class="title">{{ day.date.toDate() | date:'EEEE, MMMM d' }}</h1>
                <section>
                    <div>listened to {{ day.songs.count }} songs</div>
                    <div>created to {{ day.commits.count }} commits</div>
                    <div>took {{ day.steps.data[0].data.steps || 0 }} steps</div>
                    <div>weighed {{ day.weight.data[0].data.weight || 0 }} lbs.</div>
                    <div>had a {{ day.weight.data[0].data.bmi || 0 }} mbi.</div>
                    <div>a body fat percentage of {{ day.fat.data[0].data.fat || 0 }}</div>
                </section>
            </section>
        </div>
    </div>
{% endraw %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="src/presentation/me/modules/me.js"></script>
    <script type="text/javascript" src="src/presentation/me/services/entries.js"></script>
    <script type="text/javascript" src="src/presentation/me/controllers/home.js"></script>
{% endblock %}

<!--
<div ng-app="me" style="float: right">
    <div ng-controller="HomeController">
        <div ng-repeat="song in songs | limitTo: 25">
            <a href="{{ song.data.url }}">
                <img ng-src="{{ song.data.img }}" style="height: 30px" />
                <span>{{ song.data.name }} by {{ song.data.artist.name }}</span>
            </a>
        </div>
    </div>
</div>
<div id="charts"></div>
<script type="text/javascript" src="public/js/stdlib.js"></script>
<script type="text/javascript" src="public/js/charts.js"></script>
-->
